
{% extends 'baseback.html.twig' %}


{% block body %}
<br>
<br><br>
<center>
    <h1>Ajouter une Vehicule</h1>
    </center>
    <br><br>

    {{ include('vehicule/_form.html.twig') }}
    <center>

    <a class="btn btn-sm btn-success" href="{{ path('app_vehicule_index') }}">retour a la liste</a>
    <center>
{% endblock %}
