{% extends 'basefront.html.twig' %}

{% block title %}Avis index{% endblock %}

{% block body %}
<br>
<br>
<br>
<br>
<center>
<h1>Liste Des Avis </h1>
</center>
<br>    
<br>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Rating</th>
                <th>Commentaire</th>
                <th>Titre</th>
            </tr>
        </thead>
        <tbody>
        {% for avi in avis %}
            <tr>
                <td>{{ avi.id }}</td>
                <td> {% include 'avis/rating.html.twig' with { 'rating': avi.rating } %}</td> <td>{{ avi.commentaire }}</td>
                <td>{{ avi.titre }}</td>
               
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-danger"  href="{{ path('app_avis_new') }}">Ajouter Un Avis</a>
{% endblock %}
